body{
    background-color: rgb(211, 246, 255);
}
#clock{
    position: fixed;
    top: 260px;
    left: 520px;
    width: 350px;
    height: 65px;
    font-weight: "bold";
    font-size: 38px;
    text-align: center;
    background-color: rgb(114, 114, 114);
}
#date{
    position: fixed;
    top: 195px;
    left: 520px;
    width: 350px;
    height: 65px;
    font-weight: "bold";
    font-size: 38px;
    text-align: center;
    background-color: rgb(185, 180, 180);
}
h1{
    color: rgb(0, 80, 94);
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
}
/* div{
  
} */